# Dependencies
node_modules/

# Build output
dist/

# Environment variables (JANGAN di-push ke GitHub!)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
